#Youtube{
		   background-color: #A52A2A; /*Blue Sky*/
		   color: white;
		   font-family: inherit;

		}
/* Tous les bouttons nommés button seront colorés de la même manière : .button
Les Widget de type GtkButton seront modifiés */		
GtkButton{
           color: black;
           background: #5F9EA0;
}
GtkNotebook{
	color : black;
	background: #D2B48C; 
	border-color: white;
}
GtkEntry{
	color: black;
}
GtkComboBox{
	color: white;
	background: gray;
}
GtkTextView{
	color: #2F4F4F;
	background: #FAEBD7	; 
}